*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #0a0d12;
}

a {
  color: inherit;
}

button {
  border: none;
  background: none;
}

#root {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

body {
  scroll-snap-type: y mandatory;
}
